:root {
    /* Цвета */
    --light-blue-100: #f5f7f9;
    --light-blue-200: #dfe5ec;
    --light-blue-300: #c8d4df;

    --brand: #526eff;
    --brand-hover: #3652e3;
    --brand-active: #233fd1;

    --brand-btn-hover: #EAEEFF;
    --brand-btn-active: #E3E8FF;

    --success-juice: #5ACD66;

    --success-juice-btn-hover: #EBF9ED;
    --success-juice-btn-active: #E5F7E7;

    --white: #ffffff;
    --white-64: rgba(255, 255, 255, 0.64);

    --black: #000000;
    --black-80: rgba(17, 17, 17, 0.8);
    --black-64: rgba(17, 17, 17, 0.64);
    --black-48: rgba(17, 17, 17, 0.48);
    --black-32: rgba(17, 17, 17, 0.32);
}
