.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: start;
}

.label {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-80);
}

.input {
  box-sizing: border-box;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--black-32);
  width: 266px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.input:hover {
  border: 1px solid var(--black-48);
}

.input:focus {
  border: 1px solid var(--black-64);
}

.input:focus-visible {
  outline: none;
}

.input::placeholder {
  color: var(--black-32);
  transition: color 0.2s ease;
}

.input:focus::placeholder {
  color: transparent;
}

.filled {
  color: var(--black-64);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.errorInput::placeholder {
  color: var(--error-juice);
}

.errorMsg {
  position: absolute;
  bottom: -22px;
  left: 16px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: var(--error-juice);
}

@media (max-width: 768px) and (min-width: 380px) {
  .input {
    width: 320px;
  }
}